* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif; /*Agar browser ko Gilroy nahi milta, to koi generic sans-serif font use kar lena  */
}

html , body {
    height: 100%;
    width: 100%;
}

/* hum parent(main_container) ko height nhi de raha hi ku ki
because-----(localmotive use karna hai)--------------  */
#page1{
    height: 100vh ; /* idhar 100% lete to parent ka 100% leta , agar me main_container jo parent hai page1 div usko kuch height nhi deta to (zero) to child ka height bhi zero hota */
    width: 100%;
    background-color: #EFEAE3;
    position: relative; /* developer approach hai ki parent div ko humesa position relative denge ku ki chid div pe hum top , right , left , bottom , z-index de skate hai  or children control rahte hai*/

}

/* if you want color from any website use extensions---(colorzilla) */


/* nav bar */
nav{
    height : 6.25rem; 
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    /* 1vw = 1% of the browser window’s width
        So if your screen is 1000px wide:
        1vw = 10px, 2vw = 20px, and so on

        padding: top-bottom  left-right;
        padding: 2vw 2vw;
            =>top = 2vw
             bottom = 2vw
            left = 2vw
            right = 2vw */
}

#nav_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#nav_right h4{
    padding: 10px 20px;
    border: solid 1.2px rgba(0, 0, 0, 0.577);
    border-radius: 50px;
    font-weight: 400; /*Text kitna patla (thin) ya mota (bold) dikhega.*/
    font-family: 'Gilroy';
    color: #000000bb;
    font-size: 18px;
    transition: all ease 0.4s;

    position: relative; /*they control child */
    overflow: hidden;
} 

/* transmision for navigation link  ----(using after and before) => pesudo element---------*/

#nav_right h4::after{
    content: ''; /* where if we add like as it will get combination of work(as), studioas and contactas*/
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    background-color: black;

    transition: all ease 0.3s;
}

#nav_right h4:hover::after{/* if hover on particular nav buttom then what after happen , a some animation ya decoration happen in buttom section */
    bottom: 0;
    border-radius: 50px;
    
}

#nav_right h4 a{
    text-decoration: none; /* remove anchor line */
    color: #000000bb;
    position: relative;
    z-index: 9; /* z-index decide karta hai kaunsa element upar dikhega, jab 2 ya usse zyada elements ek dusre ke upar aa jayein (overlapping ho).*/
}

#nav_right h4:hover a{
    color: white;
}


/* home page center content */
#center_container{
    height: 66vh;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: flex-end;

    justify-content: space-between;
}

#left h3{
    width: 30vw;
    font-size: 2vw;
}
