@font-face{
    font-family: neu ;
    src: url(font/NeueHaasDisplayMediu.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory',sans-serif; /*Agar browser ko Gilroy nahi milta, to koi generic sans-serif font use kar lena  */
}

html , body {
    height: 100%;
    width: 100%;
}

/* hum parent(main_container) ko height nhi de raha hi ku ki
because-----(localmotive use karna hai)--------------  */
#page1{
    min-height: 100vh ; /* idhar 100% lete to parent ka 100% leta , agar me main_container jo parent hai page1 div usko kuch height nhi deta to (zero) to child ka height bhi zero hota */
    width: 100%;
    background-color: #EFEAE3;
    position: relative; /* developer approach hai ki parent div ko humesa position relative denge ku ki chid div pe hum top , right , left , bottom , z-index de skate hai  or children control rahte hai*/
    padding: 0 2vw;
}

/* if you want color from any website use extensions---(colorzilla) */


/* nav bar */
nav{
    height : 7.25rem; 
    width : 100%;
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.8vw 0vw;
    /* 1vw = 1% of the browser window’s width
        So if your screen is 1000px wide:
        1vw = 10px, 2vw = 20px, and so on

        padding: top-bottom  left-right;
        padding: 2vw 2vw;
            =>top = 2vw
             bottom = 2vw
            left = 2vw
            right = 2vw */
}

#nav_right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#nav_right h4{
    padding: 10px 20px;
    border: solid 1.2px rgba(0, 0, 0, 0.577);
    border-radius: 50px;
    font-weight: 550; /*Text kitna patla (thin) ya mota (bold) dikhega.*/
    font-family: 'Gilroy';
    color: black;
    font-size: 18px;
    transition: all ease 0.4s;

    position: relative; /*they control child */
    overflow: hidden;
} 

/* transmision for navigation link  ----(using after and before) => pesudo element---------*/

#nav_right h4::after{
    content: ''; /* where if we add like as it will get combination of work(as), studioas and contactas*/
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    background-color: black;

    transition: all ease 0.3s;
}

#nav_right h4:hover::after{/* if hover on particular nav buttom then what after happen , a some animation ya decoration happen in buttom section */
    bottom: 0;
    border-radius: 50px;
    
}

#nav_right h4 a{
    text-decoration: none; /* remove anchor line */
    color: #000000bb;
    position: relative;
    z-index: 9; /* z-index decide karta hai kaunsa element upar dikhega, jab 2 ya usse zyada elements ek dusre ke upar aa jayein (overlapping ho).*/
}

#nav_right h4:hover a{
    color: #fff;
}


/* home page center content */
#center_container{
    /* background-color: orange;  for check*/  
    display: flex;
    height: 77vh;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;

    border-bottom: 1px solid #BFBBB6;
    padding-bottom: 9vh;
}

#left h3{
    font-family:neu;
    width: 29vw;
    font-size: 2vw;
    padding-left : 1vw;
}

#center_container h1{
    font-family: neu;
    font-size: 10vw;
    text-align: end;
    line-height: 83%;
    padding-right: 1vw;

}

/*----video styles----*/

#page1 video{
    border-radius: 27px;
    margin-top: 8vh;
    width: 100%;
}

/*----animation part-------*/

#hero-shape{
    background-color: #FE320A;
    position: absolute;
    height: 37vw;
    width: 55vw;
    right: 0%;
    top: 83vh;
    filter: blur(25px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;

}

#hero-1{
    position: absolute;
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    filter: blur(15px);
    background : linear-gradient(#FE330A,#fe4416);
    animation-name: anime1;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(20px);
    right: 20%;
    background : linear-gradient(#FE330A,#fe4416);
    animation-name: anime2;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#hero-3{
    position: absolute;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    filter: blur(20px);
    right: 0%;
    background : linear-gradient(#FE330A,#fe4416);
    animation-name: anime3;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime1  {
  0% {
    transform: translate(0%, 0%);
  }
  50%{
    transform: translate(-15%, -7%);
  }
  100%
  {
    transform: translate(-7%, 7%);
  }
}

@keyframes anime2  {
  0% {
    transform: translate(0%, -10%);
  }
  50%{
    transform: translate(20% ,-1%);
  }
  100%{
    transform: translate(-10%,-10%);
  }
  
}

@keyframes anime3 {
    0%{
        transform : translate(0%,-10%);
    }
    100%{
        transform: translate(-20%,10%);
    }
    
}


